# Topcoder Submission API Wrapper

## Step to run tests

1. Set the environment variables found in `test/testAuthConfig.js` , `test/testM2MConfig.js`, `test/testParamConfig.js`
2. run `npm run test` to run unit tests
3. run `npm run cov` to run unit tests and generate coverage report

## Test Coverage Report

  575 passing (3s)
  2 pending

File                                        |  % Stmts | % Branch |  % Funcs |  % Lines | Uncovered Line #s
--------------------------------------------|----------|----------|----------|----------|-------------------
All files                                   |    98.98 |    88.46 |      100 |    98.98 |                   |
 topcoder-submission-api-wrapper            |      100 |      100 |      100 |      100 |                   |
  index.js                                  |      100 |      100 |      100 |      100 |                   |
 topcoder-submission-api-wrapper/src        |      100 |      100 |      100 |      100 |                   |
  ReviewSummationsApi.js                    |      100 |      100 |      100 |      100 |                   |
  ReviewTypesApi.js                         |      100 |      100 |      100 |      100 |                   |
  ReviewsApi.js                             |      100 |      100 |      100 |      100 |                   |
  SubmissionsApi.js                         |      100 |      100 |      100 |      100 |                   |
 topcoder-submission-api-wrapper/src/common |    96.88 |     87.5 |      100 |    96.88 |                   |
  constants.js                              |      100 |      100 |      100 |      100 |                   |
  helper.js                                 |    96.83 |     87.5 |      100 |    96.83 |           142,195 |
